# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Data (CRITICAL)
# =========================
data/raw/
data/processed/
*.csv

# =========================
# Model Artifacts (DO NOT PUSH)
# =========================
artifacts/*.pkl
artifacts/*.joblib

# =========================
# Google Credentials
# =========================
credentials/
*.json

# =========================
# Temporary / Tests
# =========================
test_*.py
export_*.py

# =========================
# Render / Deployment
# =========================
.env.render
